
*.LAPTOP-BFSN5C9D
TF Example.py
testing
training
Parkinsons
*.xlsx
*.swp
*~
*.pyc
*.docx
parityGenerator.py
Poster.pptx
TEST.py
GRU_LSTM_Testing.py
GRU_LSTM2.py
GRU Test.py
*Test.py
*Schwegman.py
DeepLearningFinal_KainSchewgman.py
__pycache__/irisgenerate.cpython-36.pyc
__pycache__/RCLayer.cpython-36.pyc
